<p>
  There is nothing either good or bad but 
    <%= @noun %> makes it so.
</p>

<p> 
  Ruby Version: <%= RUBY_VERSION %>
</p>

<p>
  This should say thing: <%= @thing %>
</p>

<p>
  This should say stuff: <%= @stuff %>
</p>